.dishes{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.dish-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: #ffffff;
    gap: 8px;
}

.dish-card:hover{
    border: 2px solid #37cd48;
}

.dish-card:hover button{
    background-color: #e0dddd;
}

.dish-card img{
    width: 100%;
    height: 180px;
    border-radius: 35px;
    object-fit: cover;
}

.price, .name, .weight {
    text-indent: 0;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.name {
    min-height: 48px;
    font-size: 18px;
    font-weight: bold;
}

.weight {
    color: #747070;
}

.dish-card button{
    background-color: #f1eee9;
    margin-top: auto;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#forms{
    margin-left: 20px;
}

#forms h2{
    text-align: center;
    font-size: 30px;
}

#forms h3{
    font-size: 20px;
    margin: 10px 0;
}

#form{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

#form label {
    font-size: 18px;
    font-weight:bold;
}

#form small{
    margin-top: -5px;
    font-style: italic;
    font-weight: bold;
}

#order{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

#client{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

#form select, #form input[type="text"], #form input[type="email"], #form input[type="tel"], #form input[type="time"] {
    height: 40px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#form textarea{
    height: 90px;
    width: 300px;
    padding: 10px; 
}

#form button{
    height: 30px;
    width: 140px;
    border-radius: 8px;
    border-width: 2px;
    background-color: #ffffff;
}

#form button:hover{
    background-color: #e0dddd;
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .dishes{
        grid-template-columns: repeat(2, 1fr); 
    }
    
    nav ul {
        justify-content: space-between; 
    }
    
    header h1 {
        text-align: center; 
    }

}

@media (max-width: 600px) {
    #form, .dishes{
        grid-template-columns: 1fr; 
    }
    
    nav ul {
        flex-direction: column; 
        align-items: center; 
    }
    
    nav a {
        font-size: 22px; 
    }
    
    h2 {
        text-align: center; 
    }

    #buttons{
        justify-content: center;
    }
}